<kendo-grid [data]="orders">
    <kendo-grid-column field="OrderNo" title="OrderNo" >
    </kendo-grid-column>
    <kendo-grid-column field="Vendor" title="Vendor" >
      <ng-template let-dataItem kendoGridCellTemplate>
        {{dataItem.Customer?.Name}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="OrderDate" title="Order Date">
      <ng-template let-dataItem kendoGridCellTemplate>
        {{dataItem.OrderDate | date}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="InventoryStatus" title="Inventory Status">
    </kendo-grid-column>
    <kendo-grid-column field="Location" title="Location" >
    </kendo-grid-column>
    <kendo-grid-column field="RequestedShipDate" title="Requested Ship Date" >
    </kendo-grid-column>
    <kendo-grid-column field="DueDate" title="Due Date" >
    </kendo-grid-column>
    <kendo-grid-column field="Total" title="Total" >
    </kendo-grid-column>
    <kendo-grid-column field="Paid" title="Paid" >
    </kendo-grid-column>
    <kendo-grid-column>
      <ng-template let-dataItem kendoGridCellTemplate>
        <button 
        md-raised-button 
        md-icon-button 
        md-button-sm 
        color="primary" 
        type="button"
        [routerLink]="['/sales-order/edit', dataItem.Id]"><md-icon>edit</md-icon></button>
        <button 
        md-raised-button 
        md-icon-button 
        md-button-sm 
        color="warn" 
        type="button"
        (click)="remove(dataItem.Id)"><md-icon>close</md-icon></button>
      </ng-template>
    </kendo-grid-column>
</kendo-grid>
